backbone/.idea/.name
backbone/.idea/backbone.iml
backbone/.idea/dictionaries/Jack.xml
backbone/.idea/encodings.xml
backbone/.idea/misc.xml
backbone/.idea/modules.xml
backbone/.idea/scopes/scope_settings.xml
backbone/.idea/vcs.xml
backbone/.idea/workspace.xml
