<div class='row clearfix'>
  <header class='col-md-12'>
    <h1 class='text-center'> <a href='#!/photos'>Instagram App</a> </h1>
  </header>
</div>
<div class='row clearfix'>
  <div class='col-md-8 col-md-offset-2 pic-block no-pad single-page'>
    <div class='row clearfix'>
      <div class='col-md-7 no-pad'>
        <img class='pic' src='<%= imgUrl %>' alt='Picture'>
      </div>
      <div class='col-md-5 no-pad'>
        <div class='row clearfix pic-auth'>
          <div class='col-md-2 no-pad'>
            <img class='mini-pic' src='<%= userProfilePicture %>' alt='<%= userUsername %>' title='<%= userFullname %>'>
          </div>
          <div class='col-md-10 no-pad'>
            <p class='username'>
              <%= userFullname %>
            </p>
            <p class='pic-time'>
              <%= time %>
            </p>
            <p class='pic-text'>
              <%= captionText %>
            </p>
          </div>
        </div>
        <div class='row clearfix'>
          <div class='comments-block' data-id='<%= id %>'>
            <div class='add-comm'>
              <form class='comment' data-pic='<%= id %>'>
                <input type='text' class='new-comment' placeholder='Write your comment...'>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>