<div class='row clearfix pic-row'>
  <div class='col-md-3'>
    <div class='row clearfix'>
      <div class='col-md-5 col-md-offset-3 user-about'>
        <p class='username'>
          <%=u serFullname %>
        </p>
        <p class='pic-time'>
          <%=t ime %>
        </p>
      </div>
      <div class='col-md-4 userpic'>
        <img src='<%= userProfilePicture %>' alt='<%= userUsername %>' title='<%= userFullname %>'>
      </div>
    </div>
  </div>
  <div class='col-md-6 page-item'>
    <div class='pic-block'>
      <figure>
        <a href='#!/photos/<%= id %>'><img class='pic' src='<%= imgUrl %>' alt='Picture'></a>
        <div class='like-info'>
          <img src='i/like.png' alt=''><span class='likes-cnt'><%= likesCnt %></span>
        </div>
        <figcaption>
          <%=c aptionText %>
        </figcaption>
      </figure>
      <div class='comments-block' data-id='<%= id %>'>
        <div class='add-comm'>
          <form class='comment' data-pic='<%= id %>'>
            <input type='text' class='new-comment' placeholder='Write your comment...'>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>