<!DOCTYPE html>
<html lang='ru'>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Instagram App</title>
	<link rel='stylesheet' href='css/bootstrap.min.css'>
	<link rel='stylesheet' href='css/style.css'>
	<meta name='description' content=''>
	<meta name='keywords' content=''>
	<!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
    <![endif]-->
</head>
<body>


<div class='container-fluid'></div>
	
<script type='text/template' id='start'>
	<div class='row  clearfix'>
		<header class='col-md-12'>
			<h1 class='text-center'> <a href='#!/photos'>Instagram App</a> </h1>
		</header>
	</div>
	<div class='row clearfix search-block'>
		<div class='col-md-6 col-md-offset-3 search text-center'>
			<form class='search-form'>
				<input type='search' class='search-tag' placeholder='Type your tags here'>
				<button type='submit' class='btn btn-default submit'>Search</button>
			</form>
		</div>
	</div>
</script>
	
<script type='text/template' id='pic'>
	<div class='row clearfix pic-row'>
		<div class='col-md-3'>
			<div class='row clearfix'>
				<div class='col-md-5 col-md-offset-3 user-about'>
					<p class='username'>
						<%= userFullname %>
					</p>
					<p class='pic-time'>
						<%= time %>
					</p>
				</div>
				<div class='col-md-4 userpic'>
					<img src='<%= userProfilePicture %>' alt='<%= userUsername %>' title='<%= userFullname %>'>
				</div>
			</div>
		</div>
				<div class='col-md-6 page-item'>
					<div class='pic-block'>
						<figure>
							<a href = '#!/photos/<%= id %>'><img class='pic' src='<%= imgUrl %>' alt='Picture'></a>
							<div class='like-info'>
								<img src='i/like.png' alt=''><span class='likes-cnt'><%= likesCnt %></span>
							</div>
							<figcaption><%= captionText %></figcaption>
						</figure>
						<div class='comments-block' data-id='<%= id %>'>
							<div class='row comm-line no-comments'>
								<div class='col-md-12 text-center'>There is no comments here. You can be first.</div>
							</div>
							<div class='add-comm'>
								<form class='comment' data-pic='<%= id %>'>
									<input type='text' class='new-comment' placeholder='Write your comment...'>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>


<script type='text/template' id='wrong'>	
	<div class='row clearfix wrong-search'>
		<div class='col-md-6 col-md-offset-3 page-item text-center'>
			It was found nothing by your request. Try ones more.
		</div>
	</div>
</script>
	
<script type='text/template' id='morebtn'>
	<div class='row clearfix morebtn'>
		<div class='col-md-6 col-md-offset-3 text-center'>
			<button type='button' class='btn btn-default lg-btn' id='more' data-id='<%= nextMaxID %>'>Load more</button>
		</div>
	</div>
</script>

<script type='text/template' id='comment'>
	<div class='row comm-line'>
		<div class='col-md-2  no-pad'>
			<img class='mini-pic' src='<%= fromProfilePicture  %>' alt=''>
		</div>
		<div class='col-md-10  no-pad'>
			<span class='comm-name'><%= fromUsername %></span>  <span class='comm-body'><%= commText %></span>
		</div>
	</div>
</script>

<script type='text/template' id='page'>
<div class='row clearfix'>
	<header class='col-md-12'>
		<h1 class='text-center'> <a href='#!/photos'>Instagram App</a> </h1>
	</header>
</div>
<div class='row clearfix'>
	<div class='col-md-8 col-md-offset-2 pic-block no-pad'>
		<div class='row clearfix'>
			<div class='col-md-7 no-pad'>
				<img class='pic' src='<%= imgUrl %>' alt='Picture'>
			</div>
			<div class='col-md-5 no-pad'>
				<div class='row clearfix pic-auth'>
					<div class='col-md-2 no-pad'>
						<img class='mini-pic' src='<%= userProfilePicture %>' alt='<%= userUsername %>' title='<%= userFullname %>'>
					</div>
					<div class='col-md-10 no-pad'>
						<p class='username'>
							<%=userFullname %>
						</p>
						<p class='pic-time'>
							<%=time %>
						</p>
						<p class='pic-text'>
							<%=captionText %>
						</p>
					</div>
				</div>
				<div class='row clearfix'>
					<div class='comments-block' data-id='<%= id %>'>
						<div class='row comm-line no-comments'>
							<div class='col-md-12 text-center'>There is no comments here. You can be first.</div>
						</div>
						<div class='add-comm'>
							<form class='comment' onsubmit='return false'>
								<input type='text' placeholder='Write your comment...'>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>
	<script src='js/jquery-2.1.1.min.js'></script>
	<script src='js/underscore.js'></script>
	<script src='js/backbone.js'></script>
	<script src='js/backbone.localStorage.js'></script>
	<script src='js/common.js'></script>
</body>

</html>